/* Base styles */
body {
  color: #434455;
  font-family: Roboto, sans-serif;
  background: #fff;
}

/* Reset styles */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Common styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* H 2 */
.title {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
/* H 3 */
.subtitle {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/* p */
.text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header - Section - Top Line */

.header-container {
  display: flex;

  justify-content: space-between;
  align-items: center;
  background: #fff;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  display: block;
  align-items: baseline;
}
.header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.header-logo-dark {
  color: #2e2f42;
}
.menu-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  display: block;
  padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contact-link {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;

  margin-top: 24px;
  margin-bottom: 24px;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
.contact-list {
  display: flex;
  gap: 40px;
}
.contact-item {
  display: inline-flex;
  justify-content: space-between;
}

/* Hero Section */

.hero {
  background-color: #2e2f42;
  height: 600px;
  flex-shrink: 0;
  padding: 188px 0;
}
.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero-title {
  color: #fff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;

  margin-bottom: 48px;
}
.hero-btn {
  background-color: #4d5ae5;
  color: #fff;
  /* Button Text */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  border-radius: 4px;
  border: none;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  display: block;
  min-width: 169px;
  padding: 16px 32px;

  gap: 10px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/*Feature Section  */
.features {
  padding: 120px 0;
}
.features-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.features-list-item {
  width: 264px;
}
.feature-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle {
  margin-bottom: 8px;
}

/* Team Section */
.team-section {
  background-color: #f4f4fd;

  align-items: center;
}

.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}
.feature-title {
  display: block;

  margin-bottom: 72px;
  text-align: center;
}
.team-subtitle {
  margin-bottom: 8px;
}
.team-card-content {
  display: block;
  text-align: center;
  padding: 32px 0;
}
.team-text {
}

/* Portfolio Section */

.portfolio {
  background-color: #fff;
  align-items: center;
  padding-top: 120px;
}

.portf-title {
  display: block;
  margin-bottom: 72px;
}
.portf-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  row-gap: 48px;
}
.portf-img {
  display: block;
}

.portf-list-item {
  border-bottom: 1px solid #e7e9fc;
  width: calc((100% - 48px) / 3);
}

.portf-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portf-subtitle {
  display: flex;
  margin-bottom: 8px;
}

/* Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;

  display: inline-block;
  margin-bottom: 16px;
}
.header-logo-light {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  flex-direction: column;
  width: 264px;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
